<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tweet list</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Entered Tweets</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tweet : ${tweets}">
                <td th:text="${tweet.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<div class="container">
    <form action="/users/tweet" method="POST">
        <div class="form-group">
            <label>Enter your tweet</label>
            <input type="text" id="tweet" name="tweet" maxlength="144" placeholder="What's happening?">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<form action="/users/setInterval" method="POST">
    <label><input type="radio" name="interval" value="1" th:checked="${interval}==1?true:false">1 hours</label>
    <label><input type="radio" name="interval" value="2" th:checked="${interval}==2?true:false">2 hours</label>
    <label><input type="radio" name="interval" value="4" th:checked="${interval}==4?true:false">4 hours</label>
    <label><input type="radio" name="interval" value="8" th:checked="${interval}==8?true:false">8 hours</label>
    <input type="submit" value="Set"/>
</form>

</body>
</html>