<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>User home</title>
</head>
<body>
<form action="/users/tweet" method="POST" class="tweet-entry-form" autocomplete="off">
    <input type="text" id="tweet" name="tweet" maxlength="144" placeholder="Enter your tweet" class="tweet-entry-content" required />
    <input type="submit" value="Submit" class="tweet-entry-submit" />
</form>
<div class="tweet-container">
    <div class="list-container">
        <table class="list-table">
            <thead>
            <tr>
                <th>Entered Tweets</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tweet" th:each="tweet : ${tweets}">
                <td th:text="${tweet.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>


<form action="/users/setInterval" method="POST" class="interval-form">
    <input type="radio" id="r1" name="interval" value="1" th:checked="${interval}==1?true:false" class="interval-option" /><label for="r1"><span></span>1 hour</label>
    <input type="radio" id="r2" name="interval" value="2" th:checked="${interval}==2?true:false" class="interval-option" /><label for="r2"><span></span>2 hours</label>
    <input type="radio" id="r3" name="interval" value="4" th:checked="${interval}==4?true:false" class="interval-option" /><label for="r3"><span></span>4 hours</label>
    <input type="radio" id="r4" name="interval" value="8" th:checked="${interval}==8?true:false" class="interval-option" /><label for="r4"><span></span>8 hours</label>
    <input type="submit" value="Set" class="interval-submit"/>
</form>
</div> <!-- /container -->

<form action="/users/removeUser" method="POST" class="remove-form">
    <input type="submit" value="Remove account from service" />
</form>

</body>
</html>