@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */

/* Screens */
@import "screens/login.css";
@import "screens/user.css";

body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    height: 120vh;
}